@charset "UTF-8";

/*

#5cc8b6
#2d73d1
#e4bf42
#6e46c6

Sonny cond
+ bold
+ bold italic
+ black
+ black italic

.wy-side-nav-search {
    background: #4F4B4F;
}

.wy-nav-side {
    background-color:#4F4B4F;    
}

.wy-menu a {
    color: #FFFFE7 !important;
}

.wy-nav-side li a {
    font-weight: bold;
}
.wy-menu-vertical a:hover {
    background-color:   #FFB600;
}

.wy-menu-vertical li.current {
    background: #4F4B4F;
}
.wy-menu-vertical li.toctree-l2.current>a {
    background-color:   #7f7c7f;
}

.wy-menu-vertical li.current a:hover {
    background: #FFB600;
}

@media screen and (min-width: 1100px) {
body .wy-nav-content-wrap {
    background-color:#4F4B4F;        
}

}

*/


